## Создадим блокнот для пользователя.

Загрузим необходимые библиотеки.

In [ ]:
import requests

import urllib.request
import json

In [ ]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve
from sklearn.metrics import f1_score
from urllib import request, parse

Загрузим данные.

In [ ]:
X_test = pd.read_csv("X_test_cardio.csv")
y_test = pd.read_csv("y_test_cardio.csv")

In [ ]:
X_test.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,66728,21770,1,156,64.0,140,80,2,1,0,0,1
1,69098,21876,1,170,85.0,160,90,1,1,0,0,1
2,59185,23270,1,151,90.0,130,80,1,1,0,0,1
3,49288,19741,1,159,97.0,120,80,1,1,0,0,1
4,62481,18395,1,164,68.0,120,80,1,1,0,0,1

In [ ]:
y_test.head()

   cardio
0       1
1       1
2       1
3       1
4       0

Сформируем запрос для сервера.

In [ ]:
# формируем запрос
def send_json(x):
    age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active = x
    body = {
        "age": age,
        "gender": gender,
        "height": height,
        "weight": weight,
        "ap_hi": ap_hi,
        "ap_lo": ap_lo,
        "cholesterol": cholesterol,
        "gluc": gluc,
        "smoke": smoke,
        "alco": alco,
        "active": active
        }
    myurl = 'http://a65f-34-75-114-17.ngrok.io' + '/predict'
    headers = {'content-type': 'application/json; charset=utf-8'}
    response = requests.post(myurl, json=body, headers=headers)
    return response.json()['predictions']

In [ ]:
X_test[['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active']].head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,21770,1,156,64.0,140,80,2,1,0,0,1
1,21876,1,170,85.0,160,90,1,1,0,0,1
2,23270,1,151,90.0,130,80,1,1,0,0,1
3,19741,1,159,97.0,120,80,1,1,0,0,1
4,18395,1,164,68.0,120,80,1,1,0,0,1

Для проверки сделаем один запрос:

In [ ]:
response = send_json(X_test[['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active']].iloc[0,:])

Создадим N число запросов:

In [ ]:
N = 50

In [ ]:
predictions = X_test[
                     ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active']
                     ].iloc[:N].apply(lambda x: send_json(x), axis=1)